/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

input {
    height: 20px;
    width: 500px;
    outline: none;
    border: transparent;
    border-bottom: 1px solid black;
}

button:focus {
    color: white;
}

img {
    width: 16px;
    height: 8px;
}

div>p:first-child {
    display: inline;
}

div img {

}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    display: block;
    margin: 100px auto;
    border: none;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 15px;
    opacity: 1;
}

.icone:hover {
    height: 15px;
    opacity: .7;
}

.icone:active {
    height: 15px;
    opacity: 1;
}



/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding-top: 100px;
    height: 350px;
}

div> ol {
    padding: revert;
    padding: 15px 0;
    list-style-position: inside;
}

#container-de-descricao> p{

}

#container-para-comprar {
    background-color: #e7eb90;
    padding: 100px;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    margin:auto;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
}

td button:hover{
    background-color: tomato;
}

td button:active{
    background-color: orange;
}

tr td{
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
}

td img{
    height: 60px;
    width: 60px;
}

tr{
    text-align: center;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    display: block;
    margin: 100px auto;
}

#back-button:hover {
    background-color: #635a3d
}


 