*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #132020;
}

body{
    width: 100%;
    height: 150VH;
}

main{
    width: 100%;
    height: 100%;
    background-color: #132020;
    color: black;
}



nav{
    background-color: #132020;
    width: 100%;
    height: 120px;
    color: black;
}

#nometopo {
    font-family: 'Anton', sans-serif;
    color: lightskyblue;
    font-size: 48px;
    position: absolute;
    background-color: transparent;
    top:40px;
    left:40px;
    letter-spacing: 0px;
}


.navbar a{
    display: inline-block;
    font-family: 'anton';
    font-size: 30px;
    text-decoration: none;
    color: lightskyblue;
    position: sticky;
    left:40px;
    top: 5px;
    margin-left: 40px;
}

nav p{
    color: lightskyblue;
    position: absolute;
    top:100px;
    left: 40px;
    letter-spacing: 8.5px;
}


.menu-icon{
   height: 60px;
   width: 60px;
   position: absolute;
   left:90%;
   top:50px;
   border-radius: 50%;
}

nav:hover #nometopo {
    text-shadow: -2px 0 0 #333333, 0px 0 0 #333333, 0 2px 0 #333333, 0 0px 0 #333333;
    letter-spacing: 4px;
}

section{
    position: relative;
    text-align: center;
}

section > a{
    color: #FAA353;
    font-size: 100px;
    text-decoration: none;
    
}

section > h1{
    color: #FAA353;
    font-size: 20px;
    text-decoration: none;
    top:450px;
    left:550px;
}

section > p{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    top:450px;
    left:550px;
}

/*---adicionar a partir daqui--*/


.sites{
    padding-top: 50px;
}
.queijo{
    height: 600px;
    width: 1000px;
}

#tituloqueijo{
    font-size: 100px;
    color: lightskyblue;
    font-family: 'anton';
}

.sites {
    color: white;
    font-size: 20px;
}

ul{
    list-style: circle;
    list-style-position: inside ;
}
    

